<div class="skill">
    <span class="skill-name">
        <span d6-description="skill.description">
            {{ skill.name | replace:'_':' ' }}
        </span>
    </span>
    <span class="rank" ng-show="skill.rank>0 || skill.pips>0">
        {{ skill.rank }}D
        <span class="pips" ng-show="skill.pips">
        +{{ skill.pips }}
        </span>
    </span>
</div>
<div class="skill-specializations">
    <div class="specialization" ng-repeat="specialization in skill.specializations | orderOB:'name':false track by specialization.name">
        <span class="specialization-name">
            <span>•</span> 
            <span d6-description="specialization.description">
                {{ specialization.name | replace:'_':' '  }}
            </span>
        </span>
        <span class="rank">
            {{ specialization.rank }}D
            <span class="pips" ng-show="specialization.pips">
                +{{ specialization.pips }}
            </span>
        </span>
    </div>
</div>