@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="i-"], [class*=" i-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.i-home:before {
	content: "\e600";
}
.i-home2:before {
	content: "\e601";
}
.i-home3:before {
	content: "\e602";
}
.i-office:before {
	content: "\e603";
}
.i-newspaper:before {
	content: "\e604";
}
.i-pencil:before {
	content: "\e605";
}
.i-pencil2:before {
	content: "\e606";
}
.i-quill:before {
	content: "\e607";
}
.i-pen:before {
	content: "\e608";
}
.i-blog:before {
	content: "\e609";
}
.i-droplet:before {
	content: "\e60a";
}
.i-paint-format:before {
	content: "\e60b";
}
.i-image:before {
	content: "\e60c";
}
.i-image2:before {
	content: "\e60d";
}
.i-images:before {
	content: "\e60e";
}
.i-camera:before {
	content: "\e60f";
}
.i-music:before {
	content: "\e610";
}
.i-headphones:before {
	content: "\e611";
}
.i-play:before {
	content: "\e612";
}
.i-film:before {
	content: "\e613";
}
.i-camera2:before {
	content: "\e614";
}
.i-dice:before {
	content: "\e615";
}
.i-pacman:before {
	content: "\e616";
}
.i-spades:before {
	content: "\e617";
}
.i-clubs:before {
	content: "\e618";
}
.i-diamonds:before {
	content: "\e619";
}
.i-pawn:before {
	content: "\e61a";
}
.i-bullhorn:before {
	content: "\e61b";
}
.i-connection:before {
	content: "\e61c";
}
.i-podcast:before {
	content: "\e61d";
}
.i-feed:before {
	content: "\e61e";
}
.i-book:before {
	content: "\e61f";
}
.i-books:before {
	content: "\e620";
}
.i-library:before {
	content: "\e621";
}
.i-file:before {
	content: "\e622";
}
.i-profile:before {
	content: "\e623";
}
.i-file2:before {
	content: "\e624";
}
.i-file3:before {
	content: "\e625";
}
.i-file4:before {
	content: "\e626";
}
.i-copy:before {
	content: "\e627";
}
.i-copy2:before {
	content: "\e628";
}
.i-copy3:before {
	content: "\e629";
}
.i-paste:before {
	content: "\e62a";
}
.i-paste2:before {
	content: "\e62b";
}
.i-paste3:before {
	content: "\e62c";
}
.i-stack:before {
	content: "\e62d";
}
.i-folder:before {
	content: "\e62e";
}
.i-folder-open:before {
	content: "\e62f";
}
.i-tag:before {
	content: "\e630";
}
.i-tags:before {
	content: "\e631";
}
.i-barcode:before {
	content: "\e632";
}
.i-qrcode:before {
	content: "\e633";
}
.i-ticket:before {
	content: "\e634";
}
.i-cart:before {
	content: "\e635";
}
.i-cart2:before {
	content: "\e636";
}
.i-cart3:before {
	content: "\e637";
}
.i-coin:before {
	content: "\e638";
}
.i-credit:before {
	content: "\e639";
}
.i-calculate:before {
	content: "\e63a";
}
.i-support:before {
	content: "\e63b";
}
.i-phone:before {
	content: "\e63c";
}
.i-phone-hang-up:before {
	content: "\e63d";
}
.i-address-book:before {
	content: "\e63e";
}
.i-notebook:before {
	content: "\e63f";
}
.i-envelope:before {
	content: "\e640";
}
.i-pushpin:before {
	content: "\e641";
}
.i-location:before {
	content: "\e642";
}
.i-location2:before {
	content: "\e643";
}
.i-compass:before {
	content: "\e644";
}
.i-map:before {
	content: "\e645";
}
.i-map2:before {
	content: "\e646";
}
.i-history:before {
	content: "\e647";
}
.i-clock:before {
	content: "\e648";
}
.i-clock2:before {
	content: "\e649";
}
.i-alarm:before {
	content: "\e64a";
}
.i-alarm2:before {
	content: "\e64b";
}
.i-bell:before {
	content: "\e64c";
}
.i-stopwatch:before {
	content: "\e64d";
}
.i-calendar:before {
	content: "\e64e";
}
.i-calendar2:before {
	content: "\e64f";
}
.i-print:before {
	content: "\e650";
}
.i-keyboard:before {
	content: "\e651";
}
.i-screen:before {
	content: "\e652";
}
.i-laptop:before {
	content: "\e653";
}
.i-mobile:before {
	content: "\e654";
}
.i-mobile2:before {
	content: "\e655";
}
.i-tablet:before {
	content: "\e656";
}
.i-tv:before {
	content: "\e657";
}
.i-cabinet:before {
	content: "\e658";
}
.i-drawer:before {
	content: "\e659";
}
.i-drawer2:before {
	content: "\e65a";
}
.i-drawer3:before {
	content: "\e65b";
}
.i-box-add:before {
	content: "\e65c";
}
.i-box-remove:before {
	content: "\e65d";
}
.i-download:before {
	content: "\e65e";
}
.i-upload:before {
	content: "\e65f";
}
.i-disk:before {
	content: "\e660";
}
.i-storage:before {
	content: "\e661";
}
.i-undo:before {
	content: "\e662";
}
.i-redo:before {
	content: "\e663";
}
.i-flip:before {
	content: "\e664";
}
.i-flip2:before {
	content: "\e665";
}
.i-undo2:before {
	content: "\e666";
}
.i-redo2:before {
	content: "\e667";
}
.i-forward:before {
	content: "\e668";
}
.i-reply:before {
	content: "\e669";
}
.i-bubble:before {
	content: "\e66a";
}
.i-bubbles:before {
	content: "\e66b";
}
.i-bubbles2:before {
	content: "\e66c";
}
.i-bubble2:before {
	content: "\e66d";
}
.i-bubbles3:before {
	content: "\e66e";
}
.i-bubbles4:before {
	content: "\e66f";
}
.i-user:before {
	content: "\e670";
}
.i-users:before {
	content: "\e671";
}
.i-user2:before {
	content: "\e672";
}
.i-users2:before {
	content: "\e673";
}
.i-user3:before {
	content: "\e674";
}
.i-user4:before {
	content: "\e675";
}
.i-quotes-left:before {
	content: "\e676";
}
.i-busy:before {
	content: "\e677";
}
.i-spinner:before {
	content: "\e678";
}
.i-spinner2:before {
	content: "\e679";
}
.i-spinner3:before {
	content: "\e67a";
}
.i-spinner4:before {
	content: "\e67b";
}
.i-spinner5:before {
	content: "\e67c";
}
.i-spinner6:before {
	content: "\e67d";
}
.i-binoculars:before {
	content: "\e67e";
}
.i-search:before {
	content: "\e67f";
}
.i-zoomin:before {
	content: "\e680";
}
.i-zoomout:before {
	content: "\e681";
}
.i-expand:before {
	content: "\e682";
}
.i-contract:before {
	content: "\e683";
}
.i-expand2:before {
	content: "\e684";
}
.i-contract2:before {
	content: "\e685";
}
.i-key:before {
	content: "\e686";
}
.i-key2:before {
	content: "\e687";
}
.i-lock:before {
	content: "\e688";
}
.i-lock2:before {
	content: "\e689";
}
.i-unlocked:before {
	content: "\e68a";
}
.i-wrench:before {
	content: "\e68b";
}
.i-settings:before {
	content: "\e68c";
}
.i-equalizer:before {
	content: "\e68d";
}
.i-cog:before {
	content: "\e68e";
}
.i-cogs:before {
	content: "\e68f";
}
.i-cog2:before {
	content: "\e690";
}
.i-hammer:before {
	content: "\e691";
}
.i-wand:before {
	content: "\e692";
}
.i-aid:before {
	content: "\e693";
}
.i-bug:before {
	content: "\e694";
}
.i-pie:before {
	content: "\e695";
}
.i-stats:before {
	content: "\e696";
}
.i-bars:before {
	content: "\e697";
}
.i-bars2:before {
	content: "\e698";
}
.i-gift:before {
	content: "\e699";
}
.i-trophy:before {
	content: "\e69a";
}
.i-glass:before {
	content: "\e69b";
}
.i-mug:before {
	content: "\e69c";
}
.i-food:before {
	content: "\e69d";
}
.i-leaf:before {
	content: "\e69e";
}
.i-rocket:before {
	content: "\e69f";
}
.i-meter:before {
	content: "\e6a0";
}
.i-meter2:before {
	content: "\e6a1";
}
.i-dashboard:before {
	content: "\e6a2";
}
.i-hammer2:before {
	content: "\e6a3";
}
.i-fire:before {
	content: "\e6a4";
}
.i-lab:before {
	content: "\e6a5";
}
.i-magnet:before {
	content: "\e6a6";
}
.i-remove:before {
	content: "\e6a7";
}
.i-remove2:before {
	content: "\e6a8";
}
.i-briefcase:before {
	content: "\e6a9";
}
.i-airplane:before {
	content: "\e6aa";
}
.i-truck:before {
	content: "\e6ab";
}
.i-road:before {
	content: "\e6ac";
}
.i-accessibility:before {
	content: "\e6ad";
}
.i-target:before {
	content: "\e6ae";
}
.i-shield:before {
	content: "\e6af";
}
.i-lightning:before {
	content: "\e6b0";
}
.i-switch:before {
	content: "\e6b1";
}
.i-powercord:before {
	content: "\e6b2";
}
.i-signup:before {
	content: "\e6b3";
}
.i-list:before {
	content: "\e6b4";
}
.i-list2:before {
	content: "\e6b5";
}
.i-numbered-list:before {
	content: "\e6b6";
}
.i-menu:before {
	content: "\e6b7";
}
.i-menu2:before {
	content: "\e6b8";
}
.i-tree:before {
	content: "\e6b9";
}
.i-cloud:before {
	content: "\e6ba";
}
.i-cloud-download:before {
	content: "\e6bb";
}
.i-cloud-upload:before {
	content: "\e6bc";
}
.i-download2:before {
	content: "\e6bd";
}
.i-upload2:before {
	content: "\e6be";
}
.i-download3:before {
	content: "\e6bf";
}
.i-upload3:before {
	content: "\e6c0";
}
.i-globe:before {
	content: "\e6c1";
}
.i-earth:before {
	content: "\e6c2";
}
.i-link:before {
	content: "\e6c3";
}
.i-flag:before {
	content: "\e6c4";
}
.i-attachment:before {
	content: "\e6c5";
}
.i-eye:before {
	content: "\e6c6";
}
.i-eye-blocked:before {
	content: "\e6c7";
}
.i-eye2:before {
	content: "\e6c8";
}
.i-bookmark:before {
	content: "\e6c9";
}
.i-bookmarks:before {
	content: "\e6ca";
}
.i-brightness-medium:before {
	content: "\e6cb";
}
.i-brightness-contrast:before {
	content: "\e6cc";
}
.i-contrast:before {
	content: "\e6cd";
}
.i-star:before {
	content: "\e6ce";
}
.i-star2:before {
	content: "\e6cf";
}
.i-star3:before {
	content: "\e6d0";
}
.i-heart:before {
	content: "\e6d1";
}
.i-heart2:before {
	content: "\e6d2";
}
.i-heart-broken:before {
	content: "\e6d3";
}
.i-thumbs-up:before {
	content: "\e6d4";
}
.i-thumbs-up2:before {
	content: "\e6d5";
}
.i-happy:before {
	content: "\e6d6";
}
.i-happy2:before {
	content: "\e6d7";
}
.i-smiley:before {
	content: "\e6d8";
}
.i-smiley2:before {
	content: "\e6d9";
}
.i-tongue:before {
	content: "\e6da";
}
.i-tongue2:before {
	content: "\e6db";
}
.i-sad:before {
	content: "\e6dc";
}
.i-sad2:before {
	content: "\e6dd";
}
.i-wink:before {
	content: "\e6de";
}
.i-wink2:before {
	content: "\e6df";
}
.i-grin:before {
	content: "\e6e0";
}
.i-grin2:before {
	content: "\e6e1";
}
.i-cool:before {
	content: "\e6e2";
}
.i-cool2:before {
	content: "\e6e3";
}
.i-angry:before {
	content: "\e6e4";
}
.i-angry2:before {
	content: "\e6e5";
}
.i-evil:before {
	content: "\e6e6";
}
.i-evil2:before {
	content: "\e6e7";
}
.i-shocked:before {
	content: "\e6e8";
}
.i-shocked2:before {
	content: "\e6e9";
}
.i-confused:before {
	content: "\e6ea";
}
.i-confused2:before {
	content: "\e6eb";
}
.i-neutral:before {
	content: "\e6ec";
}
.i-neutral2:before {
	content: "\e6ed";
}
.i-wondering:before {
	content: "\e6ee";
}
.i-wondering2:before {
	content: "\e6ef";
}
.i-point-up:before {
	content: "\e6f0";
}
.i-point-right:before {
	content: "\e6f1";
}
.i-point-down:before {
	content: "\e6f2";
}
.i-point-left:before {
	content: "\e6f3";
}
.i-warning:before {
	content: "\e6f4";
}
.i-notification:before {
	content: "\e6f5";
}
.i-question:before {
	content: "\e6f6";
}
.i-info:before {
	content: "\e6f7";
}
.i-info2:before {
	content: "\e6f8";
}
.i-blocked:before {
	content: "\e6f9";
}
.i-cancel-circle:before {
	content: "\e6fa";
}
.i-checkmark-circle:before {
	content: "\e6fb";
}
.i-spam:before {
	content: "\e6fc";
}
.i-close:before {
	content: "\e6fd";
}
.i-checkmark:before {
	content: "\e6fe";
}
.i-checkmark2:before {
	content: "\e6ff";
}
.i-spell-check:before {
	content: "\e700";
}
.i-minus:before {
	content: "\e701";
}
.i-plus:before {
	content: "\e702";
}
.i-enter:before {
	content: "\e703";
}
.i-exit:before {
	content: "\e704";
}
.i-play2:before {
	content: "\e705";
}
.i-pause:before {
	content: "\e706";
}
.i-stop:before {
	content: "\e707";
}
.i-backward:before {
	content: "\e708";
}
.i-forward2:before {
	content: "\e709";
}
.i-play3:before {
	content: "\e70a";
}
.i-pause2:before {
	content: "\e70b";
}
.i-stop2:before {
	content: "\e70c";
}
.i-backward2:before {
	content: "\e70d";
}
.i-forward3:before {
	content: "\e70e";
}
.i-first:before {
	content: "\e70f";
}
.i-last:before {
	content: "\e710";
}
.i-previous:before {
	content: "\e711";
}
.i-next:before {
	content: "\e712";
}
.i-eject:before {
	content: "\e713";
}
.i-volume-high:before {
	content: "\e714";
}
.i-volume-medium:before {
	content: "\e715";
}
.i-volume-low:before {
	content: "\e716";
}
.i-volume-mute:before {
	content: "\e717";
}
.i-volume-mute2:before {
	content: "\e718";
}
.i-volume-increase:before {
	content: "\e719";
}
.i-volume-decrease:before {
	content: "\e71a";
}
.i-loop:before {
	content: "\e71b";
}
.i-loop2:before {
	content: "\e71c";
}
.i-loop3:before {
	content: "\e71d";
}
.i-shuffle:before {
	content: "\e71e";
}
.i-arrow-up-left:before {
	content: "\e71f";
}
.i-arrow-up:before {
	content: "\e720";
}
.i-arrow-up-right:before {
	content: "\e721";
}
.i-arrow-right:before {
	content: "\e722";
}
.i-arrow-down-right:before {
	content: "\e723";
}
.i-arrow-down:before {
	content: "\e724";
}
.i-arrow-down-left:before {
	content: "\e725";
}
.i-arrow-left:before {
	content: "\e726";
}
.i-arrow-up-left2:before {
	content: "\e727";
}
.i-arrow-up2:before {
	content: "\e728";
}
.i-arrow-up-right2:before {
	content: "\e729";
}
.i-arrow-right2:before {
	content: "\e72a";
}
.i-arrow-down-right2:before {
	content: "\e72b";
}
.i-arrow-down2:before {
	content: "\e72c";
}
.i-arrow-down-left2:before {
	content: "\e72d";
}
.i-arrow-left2:before {
	content: "\e72e";
}
.i-arrow-up-left3:before {
	content: "\e72f";
}
.i-arrow-up3:before {
	content: "\e730";
}
.i-arrow-up-right3:before {
	content: "\e731";
}
.i-arrow-right3:before {
	content: "\e732";
}
.i-arrow-down-right3:before {
	content: "\e733";
}
.i-arrow-down3:before {
	content: "\e734";
}
.i-arrow-down-left3:before {
	content: "\e735";
}
.i-arrow-left3:before {
	content: "\e736";
}
.i-tab:before {
	content: "\e737";
}
.i-checkbox-checked:before {
	content: "\e738";
}
.i-checkbox-unchecked:before {
	content: "\e739";
}
.i-checkbox-partial:before {
	content: "\e73a";
}
.i-radio-checked:before {
	content: "\e73b";
}
.i-radio-unchecked:before {
	content: "\e73c";
}
.i-crop:before {
	content: "\e73d";
}
.i-scissors:before {
	content: "\e73e";
}
.i-filter:before {
	content: "\e73f";
}
.i-filter2:before {
	content: "\e740";
}
.i-font:before {
	content: "\e741";
}
.i-text-height:before {
	content: "\e742";
}
.i-text-width:before {
	content: "\e743";
}
.i-bold:before {
	content: "\e744";
}
.i-underline:before {
	content: "\e745";
}
.i-italic:before {
	content: "\e746";
}
.i-strikethrough:before {
	content: "\e747";
}
.i-omega:before {
	content: "\e748";
}
.i-sigma:before {
	content: "\e749";
}
.i-table:before {
	content: "\e74a";
}
.i-table2:before {
	content: "\e74b";
}
.i-insert-template:before {
	content: "\e74c";
}
.i-pilcrow:before {
	content: "\e74d";
}
.i-lefttoright:before {
	content: "\e74e";
}
.i-righttoleft:before {
	content: "\e74f";
}
.i-paragraph-left:before {
	content: "\e750";
}
.i-paragraph-center:before {
	content: "\e751";
}
.i-paragraph-right:before {
	content: "\e752";
}
.i-paragraph-justify:before {
	content: "\e753";
}
.i-paragraph-left2:before {
	content: "\e754";
}
.i-paragraph-center2:before {
	content: "\e755";
}
.i-paragraph-right2:before {
	content: "\e756";
}
.i-paragraph-justify2:before {
	content: "\e757";
}
.i-indent-increase:before {
	content: "\e758";
}
.i-indent-decrease:before {
	content: "\e759";
}
.i-newtab:before {
	content: "\e75a";
}
.i-embed:before {
	content: "\e75b";
}
.i-code:before {
	content: "\e75c";
}
.i-console:before {
	content: "\e75d";
}
.i-share:before {
	content: "\e75e";
}
.i-mail:before {
	content: "\e75f";
}
.i-mail2:before {
	content: "\e760";
}
.i-mail3:before {
	content: "\e761";
}
.i-mail4:before {
	content: "\e762";
}
.i-google:before {
	content: "\e763";
}
.i-googleplus:before {
	content: "\e764";
}
.i-googleplus2:before {
	content: "\e765";
}
.i-googleplus3:before {
	content: "\e766";
}
.i-googleplus4:before {
	content: "\e767";
}
.i-google-drive:before {
	content: "\e768";
}
.i-facebook:before {
	content: "\e769";
}
.i-facebook2:before {
	content: "\e76a";
}
.i-facebook3:before {
	content: "\e76b";
}
.i-instagram:before {
	content: "\e76c";
}
.i-twitter:before {
	content: "\e76d";
}
.i-twitter2:before {
	content: "\e76e";
}
.i-twitter3:before {
	content: "\e76f";
}
.i-feed2:before {
	content: "\e770";
}
.i-feed3:before {
	content: "\e771";
}
.i-feed4:before {
	content: "\e772";
}
.i-youtube:before {
	content: "\e773";
}
.i-youtube2:before {
	content: "\e774";
}
.i-vimeo:before {
	content: "\e775";
}
.i-vimeo2:before {
	content: "\e776";
}
.i-vimeo3:before {
	content: "\e777";
}
.i-lanyrd:before {
	content: "\e778";
}
.i-flickr:before {
	content: "\e779";
}
.i-flickr2:before {
	content: "\e77a";
}
.i-flickr3:before {
	content: "\e77b";
}
.i-flickr4:before {
	content: "\e77c";
}
.i-picassa:before {
	content: "\e77d";
}
.i-picassa2:before {
	content: "\e77e";
}
.i-dribbble:before {
	content: "\e77f";
}
.i-dribbble2:before {
	content: "\e780";
}
.i-dribbble3:before {
	content: "\e781";
}
.i-forrst:before {
	content: "\e782";
}
.i-forrst2:before {
	content: "\e783";
}
.i-deviantart:before {
	content: "\e784";
}
.i-deviantart2:before {
	content: "\e785";
}
.i-steam:before {
	content: "\e786";
}
.i-steam2:before {
	content: "\e787";
}
.i-github:before {
	content: "\e788";
}
.i-github2:before {
	content: "\e789";
}
.i-github3:before {
	content: "\e78a";
}
.i-github4:before {
	content: "\e78b";
}
.i-github5:before {
	content: "\e78c";
}
.i-wordpress:before {
	content: "\e78d";
}
.i-wordpress2:before {
	content: "\e78e";
}
.i-joomla:before {
	content: "\e78f";
}
.i-blogger:before {
	content: "\e790";
}
.i-blogger2:before {
	content: "\e791";
}
.i-tumblr:before {
	content: "\e792";
}
.i-tumblr2:before {
	content: "\e793";
}
.i-yahoo:before {
	content: "\e794";
}
.i-tux:before {
	content: "\e795";
}
.i-apple:before {
	content: "\e796";
}
.i-finder:before {
	content: "\e797";
}
.i-android:before {
	content: "\e798";
}
.i-windows:before {
	content: "\e799";
}
.i-windows8:before {
	content: "\e79a";
}
.i-soundcloud:before {
	content: "\e79b";
}
.i-soundcloud2:before {
	content: "\e79c";
}
.i-skype:before {
	content: "\e79d";
}
.i-reddit:before {
	content: "\e79e";
}
.i-linkedin:before {
	content: "\e79f";
}
.i-lastfm:before {
	content: "\e7a0";
}
.i-lastfm2:before {
	content: "\e7a1";
}
.i-delicious:before {
	content: "\e7a2";
}
.i-stumbleupon:before {
	content: "\e7a3";
}
.i-stumbleupon2:before {
	content: "\e7a4";
}
.i-stackoverflow:before {
	content: "\e7a5";
}
.i-pinterest:before {
	content: "\e7a6";
}
.i-pinterest2:before {
	content: "\e7a7";
}
.i-xing:before {
	content: "\e7a8";
}
.i-xing2:before {
	content: "\e7a9";
}
.i-flattr:before {
	content: "\e7aa";
}
.i-foursquare:before {
	content: "\e7ab";
}
.i-foursquare2:before {
	content: "\e7ac";
}
.i-paypal:before {
	content: "\e7ad";
}
.i-paypal2:before {
	content: "\e7ae";
}
.i-paypal3:before {
	content: "\e7af";
}
.i-yelp:before {
	content: "\e7b0";
}
.i-libreoffice:before {
	content: "\e7b1";
}
.i-file-pdf:before {
	content: "\e7b2";
}
.i-file-openoffice:before {
	content: "\e7b3";
}
.i-file-word:before {
	content: "\e7b4";
}
.i-file-excel:before {
	content: "\e7b5";
}
.i-file-zip:before {
	content: "\e7b6";
}
.i-file-powerpoint:before {
	content: "\e7b7";
}
.i-file-xml:before {
	content: "\e7b8";
}
.i-file-css:before {
	content: "\e7b9";
}
.i-html5:before {
	content: "\e7ba";
}
.i-html52:before {
	content: "\e7bb";
}
.i-css3:before {
	content: "\e7bc";
}
.i-chrome:before {
	content: "\e7bd";
}
.i-firefox:before {
	content: "\e7be";
}
.i-IE:before {
	content: "\e7bf";
}
.i-opera:before {
	content: "\e7c0";
}
.i-safari:before {
	content: "\e7c1";
}
.i-IcoMoon:before {
	content: "\e7c2";
}

[class^="i-"].full, [class*=" i-"].full{
    font-size: 4em;
}
.i-twitter2.full{
    color: #01afec;
}
.i-facebook2.full{
    color: #45619d;
}
.i-googleplus3.full{
    color: #dd4b39;
}
.i-github3.full{
    color: #333333;
}