@import url("icomoon.css") screen, print;
@import url("greek.css") screen, print;
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  color: #3a3c36;
  font-size: 12px;
  margin: 0px;
  font-family: 'Exo 2', sans-serif;
  min-height: 100%;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  display: block;
  margin: 0.25em 0;
  padding: 0.12em 0.25em;
  color: #ef5132;
  font-family: 'Bangers', cursive;
  font-weight: normal;
}
h1,
.h1 {
  font-size: 3em;
}
h2,
.h2 {
  font-size: 2em;
  background-color: #c9dfa0;
}
h3,
.h3 {
  font-size: 1.5em;
}
a {
  color: #3a3c36;
  text-decoration: none;
}
a:hover {
  color: #fd8507;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-top: 1px solid #ef5132;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#fd8507), to(#ef5132));
  background: -webkit-linear-gradient(top, #fd8507, #ef5132);
  background: -moz-linear-gradient(top, #fd8507, #ef5132);
  background: -ms-linear-gradient(top, #fd8507, #ef5132);
  background: -o-linear-gradient(top, #fd8507, #ef5132);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #000000 0 1px 0;
  -moz-box-shadow: #000000 0 1px 0;
  box-shadow: #000000 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 1em;
  outline: none;
  text-decoration: none;
  vertical-align: middle;
}
button:hover {
  border-top-color: #dec75f;
}
button:active {
  border-top-color: #3a3c36;
}
button[disabled] {
  border-top: 1px solid #3a3c36;
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#3a3c36));
  background: -webkit-linear-gradient(top, #f2f2f2, #3a3c36);
  background: -moz-linear-gradient(top, #f2f2f2, #3a3c36);
  background: -ms-linear-gradient(top, #f2f2f2, #3a3c36);
  background: -o-linear-gradient(top, #f2f2f2, #3a3c36);
  cursor: default;
}
d6-header {
  padding: 0.25em 1em;
  border-bottom: 1em solid #f2f2f2;
  display: block;
}
d6-header a {
  font-size: 1.25em;
}
d6-header d6-toolbox {
  margin-top: -2em;
  display: inline-block;
  float: right;
}
d6-header nav {
  display: inline-block;
}
d6-header nav a:first-child:before {
  content: '|';
  margin: 0 0.5em;
}
d6-header nav a:after {
  content: '|';
  margin: 0 0.5em;
}
d6-header nav a:hover:after,
d6-header nav a:hover:before {
  color: #3a3c36;
}
d6-header d6-auth-profile {
  float: right;
}
d6-auth-profile {
  display: inline-block;
}
d6-auth-profile > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 21px;
}
d6-auth-profile img {
  width: 21px;
  height: 21px;
}
d6-auth-profile .loader {
  width: 21px;
  height: 21px;
}
d6-character-sheet {
  display: block;
  width: 768px;
  height: 100%;
  margin: 0 0.5em;
}
d6-character-sheet .loader {
  display: inline-block;
  float: right;
  width: 24px;
  height: 24px;
}
d6-character-sheet .info {
  display: inline-block;
  width: 60%;
  margin-left: 0.25em;
  overflow: hidden;
  white-space: nowrap;
}
d6-character-sheet .info > div {
  height: 1.5em;
}
d6-character-sheet .info > div > span {
  display: inline-block;
}
d6-character-sheet .info > div > span:nth-child(odd) {
  font-weight: bold;
  width: 100px;
}
d6-character-sheet .info > div > span:nth-child(even) {
  border-bottom: 1px solid #3a3c36;
  width: 100%;
  padding-bottom: 0.12em;
}
d6-character-sheet .info > div.multi-line > span {
  width: auto;
  margin: 0 0.25em 0 0;
}
d6-character-sheet .info > div.multi-line > span:nth-child(even) {
  min-width: 9%;
  padding-left: 0.5em;
}
d6-character-sheet .stats {
  display: inline-block;
  width: 60%;
}
d6-character-sheet d6-adjust {
  display: inline-block;
  position: absolute;
  top: 0.5em;
  right: 34%;
  font-size: 9px;
}
d6-character-sheet d6-adjust button {
  padding: 0.25em;
  display: block;
  margin: 0.25em 0px;
  border-radius: 0.5em;
}
d6-character-sheet d6-attribute {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  position: relative;
  padding: 0 0.25em;
}
d6-character-sheet d6-attribute .name {
  display: inline-block;
  text-align: left;
  width: 55%;
}
d6-character-sheet d6-attribute .rank {
  display: inline-block;
  width: 41%;
  font-family: 'Macondo', cursive;
  font-weight: bold;
  text-align: right;
}
d6-character-sheet d6-attribute .pips {
  font-family: 'Greek', 'Macondo', cursive;
  font-size: 1.25em;
  font-weight: normal;
  vertical-align: -0.05em;
}
d6-character-sheet d6-skill {
  display: block;
  position: relative;
  height: 20px;
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-bottom: 1px solid #3a3c36;
  white-space: nowrap;
}
d6-character-sheet d6-skill .name span:hover {
  color: #fd8507;
}
d6-character-sheet d6-skill d6-adjust {
  position: absolute;
  right: 27%;
  top: 0;
}
d6-character-sheet d6-skill d6-adjust button {
  display: inline-block;
}
d6-character-sheet d6-specialization {
  padding-left: 1.5em;
  padding-right: 0;
}
d6-character-sheet d6-specialization .name span {
  font-size: 2em;
  line-height: 0.5em;
  display: inline-block;
  vertical-align: -0.12em;
}
d6-character-sheet .powers {
  width: 39%;
  display: inline-block;
  vertical-align: top;
}
d6-character {
  display: block;
  margin: 0.25em;
}
d6-modal {
  opacity: 0.8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3a3c36;
}
d6-dialog {
  max-width: 50%;
  min-width: 25%;
  display: block;
  position: fixed;
  top: 25%;
  left: 37%;
  background: #fff;
  border-radius: 1em;
  padding: 1em;
  white-space: normal;
}
[data-description]:hover {
  position: relative;
}
[data-description]:hover:after {
  content: attr(data-description);
  padding: 0.5em 1em;
  position: absolute;
  top: -100%;
  border-radius: 0.5em;
  border: 1px solid #f2f2f2;
  background: #fd8507;
  background: -webkit-gradient(linear, left top, left bottom, from(#fd8507), to(#ef5132));
  background: -webkit-linear-gradient(top, #fd8507, #ef5132);
  background: -moz-linear-gradient(top, #fd8507, #ef5132);
  background: -ms-linear-gradient(top, #fd8507, #ef5132);
  background: -o-linear-gradient(top, #fd8507, #ef5132);
  -webkit-box-shadow: #3a3c36 4px 6px 10px 2px;
  -moz-box-shadow: #3a3c36 4px 6px 10px 2px;
  box-shadow: #3a3c36 4px 6px 10px 2px;
  white-space: normal;
  color: #3a3c36;
  font-size: 12px;
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  text-shadow: none;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  /* Chrome */
  max-width: 400px;
  z-index: 1000;
}
[data-description].d6-description-right:hover:after {
  left: 100%;
}
[data-description].d6-description-left:hover:after {
  right: 100%;
}
.loader {
  background: url('../img/loading2.gif') no-repeat center;
  background-size: contain;
}
.login {
  width: 50%;
  margin: auto;
  text-align: center;
}
.login a {
  margin: 0 0.12em;
}
