<h1 class="alias">
    <input size="{{character.alias.length}}" type="text" ng-model="character.alias" ng-disabled="!character.controls.editing" />
    <div class="loader" ng-show="character.controls.loading"></div>
</h1>
<div class="info">
    <div>
        <span>Character Name:</span>
        <span class="name">
            <input size="{{character.name.length}}" type="text" ng-model="character.name" ng-disabled="!character.controls.editing" />
        </span>
    </div>
    <div>
        <span>Player Name:</span>
        <span class="player">
            {{character.player.displayName}}
        </span>
    </div>
    <div ng-show="character.occupation">
        <span>Occupation:</span>
        <span class="occupation">
            <input size="{{character.occupation.length}}" type="text" ng-model="character.occupation" ng-disabled="!character.controls.editing" />
        </span>
    </div>
    <div ng-show="character.archetype">
        <span>Archetype:</span>
        <span class="archetype">
            <input size="{{character.archetype.length}}" type="text" ng-model="character.archetype" ng-disabled="!character.controls.editing" />
        </span>
    </div>
    <div>
        <span>Species / Gender:</span>
        <span class="species">
            <input size="{{character.species.length}}" type="text" ng-model="character.species" ng-disabled="!character.controls.editing" /> / <input size="{{character.gender.length}}" type="text" ng-model="character.gender" ng-disabled="!character.controls.editing" />
        </span>
    </div>
</div>
<div class="info multi-line">
    <div>
        <span>Level:</span>
        <span>
            <input size="{{(character.powerLevel | number).length}}" type="text" ng-model="character.powerLevel" ng-disabled="!character.controls.editing"/>        </span>
    </div>
    <div>
        <span>Age:</span>
        <span>
            <input size="{{(character.age | number).length}}" type="text" ng-model="character.age" ng-disabled="!character.controls.editing"/>
        </span>
    </div>
    <div>
        <span>Height:</span>
        <span>
            <input size="{{character.height.length}}" type="text" ng-model="character.height" ng-disabled="!character.controls.editing"/>
        </span>
    </div>
    <div>
        <span>Weight:</span>
        <span>
            <input size="{{(character.weight | number).length}}" type="text" ng-model="character.weight" ng-disabled="!character.controls.editing"/> lbs
        </span>
    </div>
    <div>
        <span>Points:</span>
        <span>
            {{ character.spentPoints }}
        </span>
    </div>
</div>

<div class="stats">
    <d6-attribute d6-scope="attribute" d6-controls="character.controls"  ng-repeat="attribute in character.attributes | orderOB:'skills.length':true track by attribute.name"></d6-attribute>
</div>
<div class="powers">
    <h2>
        Powers
    </h2>
</div>
