d6-character{
    display: block;
    width: 768px;
    margin: 0 0.5em;
    border-radius: 1em;
    height: 100%;
}
d6-character .loading{
    width: 24px;
    height: 24px;
}
d6-character .character-info{
    width: 60%;
    display: inline-block;
    white-space: nowrap;
    margin-left: 0.25em;
    overflow: hidden;
}
.character-info >div{
    height: 1.5em;
}
.character-info >div >span{
    display: inline-block;
}
.character-info >div >span:nth-child(odd){
    font-weight: bold;
    width: 100px;
}
.character-info >div >span:nth-child(even){
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 0.12em;
}
.character-info div.multi-line >span{
    width: auto;
    margin: 0 0.25em 0 0;
}
.character-info div.multi-line >span:nth-child(even){
    min-width: 9%;
    padding-left: 0.5em;
}

.character-stats{
    width: 60%;
    display: inline-block;
}
.character-stats d6-attribute{
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

.attribute,.skill,.specialization{
    cursor: default;
}

.attribute{
    padding: 0 0.25em;
    position: relative;
}

.attribute-name,.skill-name,.specialization-name{
    display: inline-block;
    text-align: left;
    width: 55%;
}
d6-attribute .rank{
    display: inline-block;
    width: 41%;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    text-align: right;
}
.attribute .pips{
    font-family: 'Greek', 'Macondo', cursive;
    font-size: 1.25em;
    font-weight: normal;
    vertical-align: -0.05em;
}
.attribute d6-adjust{
    display: inline-block;
    position: absolute;
    top: 0%;
    right: 34%;
    font-size: 9px;
}
.attribute d6-adjust button{
    padding: 0.25em;
    display: block;
    margin: 0.25em 0px;
    border-radius: 0.5em;
}
.skill-name{
    
}
.skill-name span:hover{
    color: #fd8507;
}
d6-skill .rank{
    
}
.skill d6-adjust{
    position: absolute;
    right: 27%;
}
.skill d6-adjust button{
  display: inline-block;  
}
.skill, .specialization{
    border-bottom: 1px solid #3a3c36;
    height: 20px;
    padding: 0.25em 0.25em 0.25em 0.5em;
    white-space: nowrap;
    position: relative;
}

.specialization{
    padding-left: 1.5em;
    padding-right: 0;
}
.specialization-name >span{
    font-size: 2em;
    line-height: 0.5em;
    display: inline-block;
    vertical-align: -0.12em;
}


.character-powers{
    width: 39%;
    display: inline-block;
    vertical-align: top;
}
