@import url("icomoon.css") screen, print;
@import url("exo.css") screen, print;
@import url("bangers.css") screen, print;
@import url("macondo.css") screen, print;
@import url("greek.css") screen, print;
*{
    box-sizing: border-box;
}
html{
    min-height: 100%;
}
body{
    color: #3a3c36;
    font-size: 12px;
    margin: 0px;
    font-family: 'Exo2', sans-serif;
    min-height: 100%;
}
h1,.h1{
    font-size: 3em;
    margin: 0.5em 0;
    padding: 0 0.25em;
}
h2,.h2{
    background-color: #c9dfa0;
}
h2,.h2, h3, .h3{
    font-size: 2em;
    margin: 0.25em 0;
    padding: 0.12em 0.25em;
}
h1,h2,h3,.h1,.h2,.h3{
    color: #ef5132;
    font-family: 'Bangers', cursive;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
   display: inline-block;
   cursor: pointer;
   border: 0;
   border-top: 1px solid #ef5132;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#fd8507), to(#ef5132));
   background: -webkit-linear-gradient(top, #fd8507, #ef5132);
   background: -moz-linear-gradient(top, #fd8507, #ef5132);
   background: -ms-linear-gradient(top, #fd8507, #ef5132);
   background: -o-linear-gradient(top, #fd8507, #ef5132);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1em;
   text-decoration: none;
   vertical-align: middle; 
}
button:hover{
   border-top-color: #dec75f;
}
button:active{
    border-top-color: #3a3c36;
}


header{
    margin: 0px 0px 1em 0px;
    padding: 0.25em 1em;
    border-bottom: 1em solid #f2f2f2;
}
header a{
    font-size: 1.25em;
    padding-right: 8px;
}
header >*{
    display: inline-block;
    vertical-align: middle;
}

nav{
    display: block;
}
nav a:first-child:before{
    content: '|';
    margin-right: 1em;
}
nav a:after{
    content: '|';
    margin-left: 1em;
}

.auth-profile >*{
    display: inline-block;
    vertical-align: middle;
    line-height: 21px;
}
.auth-profile .auth-image{
    max-width: 21px;
    max-height: 21px;
}
.auth-loading{
    width: 21px;
    height: 21px;
}

.login{
   text-align: center;
}
.login a.full{
    margin: 0 0.12em;
}

.loading{
    background: url('../img/loading2.gif') no-repeat center;
    background-size: contain;
}

[class^="i-"].full, [class*=" i-"].full{
    font-size: 4em;
}
.i-twitter2.full{
    color: #01afec;
}
.i-facebook2.full{
    color: #45619d;
}
.i-googleplus3.full{
    color: #dd4b39;
}
.i-github3.full{
    color: #333333;
}

.character{
    width: 768px;
    padding: 0.5em;
    border: 1px solid #3a3c36;
    margin: 0 0.5em;
    border-radius: 1em;
    height: 100%;
}

.character-info{
    width: 60%;
    display: inline-block;
    white-space: nowrap;
    margin-left: 0.25em;
    overflow: hidden;
}
.character-info >div{
    height: 1.5em;
}
.character-info >div >span{
    display: inline-block;
}
.character-info >div >span:nth-child(odd){
    font-weight: bold;
    width: 100px;
}
.character-info >div >span:nth-child(even){
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 0.25em;
}
.character-info div.multi-line >span{
    width: auto;
    margin: 0 0.25em 0 0;
}
.character-info div.multi-line >span:nth-child(even){
    min-width: 9%;
    padding-left: 0.5em;
}

.character-stats{
    width: 60%;
    display: inline-block;
}
.character-stats >div{
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

.attribute,.skill,.specialization{
    cursor: default;
}

.attribute{
    padding: 0 0.25em;
}

.attribute-name,.skill-name,.specialization-name{
    display: inline-block;
    text-align: left;
    width: 73%;
}
.attribute .rank{
    display: inline-block;
    width: 23%;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    text-align: right;
}
.attribute .pips{
    font-family: 'Greek', 'Macondo', cursive;
    font-size: 1.25em;
    letter-spacing: 0.12em;
    font-weight: normal;
}
[data-description]:hover{
    position: relative;
}
[data-description]:hover:after{
    content: attr(data-description);
    padding: 0.5em 1em;
    
    position: absolute;
    top: -100%;
    
    border-radius: 0.5em;
    border: 1px solid #f2f2f2;
    
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#fd8507), to(#ef5132));
    background: -webkit-linear-gradient(top, #fd8507, #ef5132);
    background: -moz-linear-gradient(top, #fd8507, #ef5132);
    background: -ms-linear-gradient(top, #fd8507, #ef5132);
    background: -o-linear-gradient(top, #fd8507, #ef5132);
    
    -webkit-box-shadow: #3a3c36 4px 6px 10px 2px;
    -moz-box-shadow: #3a3c36 4px 6px 10px 2px;
    box-shadow: #3a3c36 4px 6px 10px 2px;
    
    white-space: normal;
    color: #3a3c36;
    font-size: 12px;
    font-family: 'Exo2';
    font-weight: normal;
    
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    max-width: 400px;
}

.skill-name span:hover{
    color: #fd8507;
}
.skill, .specialization{
    border-bottom: 1px solid #3a3c36;
    height: 20px;
    padding: 0.25em 0.25em 0.25em 0.5em;
    white-space: nowrap;
}

.specialization{
    padding-left: 1.5em;
    padding-right: 0;
}
.specialization-name >span{
    font-size: 2em;
    line-height: 0.5em;
    display: inline-block;
    vertical-align: -0.12em;
}


.character-powers{
    width: 39%;
    display: inline-block;
    vertical-align: top;
}

.left{
    float: left;
    text-align: left;
}
.right{
    float: right;
    text-align: right;
}
.block{
    display: block;
}
.primary{
    color: #3a3c36;
}
.secondary{
    color: #c9dfa0;
}
.tirtiary{
    color: #dec75f;
}

